aiohappyeyeballs==2.6.2
aiohttp==3.14.1
aiohttp-socks==0.10.2
aioitertools==0.13.0
aiosignal==1.4.0
annotated-types==0.7.0
appdirs==1.4.4
attrs==26.1.0
base58==2.1.1
bdkpython==2.3.1
bleak==0.22.3
cbor2==5.7.1
certifi==2026.6.17
cffi==2.0.0
chardet==7.4.3
charset-normalizer==3.4.7
click==8.4.2
construct==2.10.70
construct-classes==0.2.3
cryptography==49.0.0
dbus-fast==2.46.4
defusedxml==0.7.1
ecdsa==0.19.2
fonttools==4.63.0
fpdf2==2.8.7
frozenlist==1.8.0
hidapi==0.15.0
idna==3.18
jaraco-classes==3.4.0
jaraco-context==6.1.2
jaraco-functools==4.5.0
jeepney==0.9.0
keyring==25.7.0
libusb1==3.4.0
mnemonic==0.21
more-itertools==11.1.0
mss==9.0.2
multidict==6.7.1
noiseprotocol==0.3.1
nostr-sdk==0.44.2
numpy==2.2.1
opencv-python-headless==4.13.0.92
pgpy==0.6.0
pillow==12.2.0
platformdirs==4.10.0
propcache==0.5.2
protobuf==4.25.9
pyaes==1.6.1
pyasn1==0.6.3
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.13.4
pydantic-core==2.46.4
pygame==2.6.1
pyqrcode==1.2.1
pyqt6==6.11.0
pyqt6-charts==6.11.0
pyqt6-charts-qt6==6.11.1
pyqt6-qt6==6.11.1
pyqt6-sip==13.11.1
pyserial==3.5
pysocks==1.7.1
python-gnupg==0.5.6
python-socks==2.8.2
pyyaml==6.0.3
reportlab==4.0.8
requests==2.34.2
secretstorage==3.5.0
segno==1.6.1
semver==3.0.4
shamir-mnemonic==0.3.0
six==1.17.0
slip10==1.1.0
trezor==0.20.1
typing-extensions==4.15.0
typing-inspection==0.4.2
urllib3==2.7.0
yarl==1.24.2
